{{> main }}

<head>
    {{> title-meta title="Starter Page" }}

    {{> head-css}}
</head>

<body>

    <div class="wrapper">

        {{> sidenav }}

        <!-- Start Page Content here -->
        <div class="page-content">

            {{> topbar }}

            <main>

                {{> page-title subtitle="Menu" title="Starter Page" }}


            </main>

            {{> footer }}

        </div>
        <!-- End Page content -->

    </div>

    {{> footer-scripts }}

</body>

</html>